# Configuration du serveur
PORT=3000
NODE_ENV=development

# Configuration de la base de données
DB_HOST=127.0.0.1
DB_USER=root
DB_PASS=
DB_NAME=artizone_db

# JWT Secret
JWT_SECRET=votre_jwt_secret_tres_securise

# CORS
CORS_ORIGIN=http://localhost:3000

# Stripe
STRIPE_SECRET_KEY=sk_test_votre_cle_stripe

# Firebase Configuration
FIREBASE_TYPE=service_account
FIREBASE_PROJECT_ID=votre_projet_firebase
FIREBASE_PRIVATE_KEY_ID=votre_private_key_id
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nvotre_private_key\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=votre_client_email
FIREBASE_CLIENT_ID=votre_client_id
FIREBASE_AUTH_URI=https://accounts.google.com/o/oauth2/auth
FIREBASE_TOKEN_URI=https://oauth2.googleapis.com/token
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
FIREBASE_CLIENT_X509_CERT_URL=https://www.googleapis.com/robot/v1/metadata/x509/votre_client_email 